<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/add_author" method="POST">
  <!-- Add the form here -->
    <input type="text", id="title", placeholder="Enter title">
    <input type="text", id="isbn", placeholder="Enter title">
    <input type="text", id="publication_year", placeholder="Enter title">
    <button type="button", class="">Add this Book</button>
  </form>

  </body>
</html>
