<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/add_book" method="POST">
  <!-- Add the form here -->
    <input type="text" id="isbn" name="isbn" placeholder="Enter isbn">
  <input type="text" id="title" name="title" placeholder="Enter title">
  <input type="text" id="publication_year" name="publication_year" placeholder="Enter publication_year">
  <button type="submit" value="Add Book">Add this Book</button>
  </form>
  <h3>{{message}}</h3>

  </body>
</html>
