<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <form action="/" method="get">
      <label>Search books:</label>
      <input type="text" name="search" placeholder="Enter keyword" value="{{search}}">
      <button type="submit">Search</button>
    </form>
      <form action="/" method="get">
      <label>Sort by:</label>
      <select name="sort">
        <option value="">Default</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
      </select>
      <button type="submit">Sort</button>
    </form>
    {% for book in books %}
    <div>
      <h2>{{book.author.name}}</h2>
      <h3>{{ book.title }} Author: {{ book.author.name}}  Published in {{ book.publication_year }}</h3>
    </div>
    <form action="/book/{{book.id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    {% endfor %}
    <h4>{{message}}</h4>
  </body>
</html>